.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# macOS
*.app

# Secrets
.env
*.pem

# SwiftLint/SwiftFormat cache
.swiftlint-cache
